[Service]
User=pi
ExecStart=/usr/bin/ffmpeg -loglevel warning -f h264 -r 20 -i tcp://localhost:8000 -c copy -f mpegts -
StandardInput=null
StandardOutput=socket
StandardError=journal

# ffmpeg exits with an error code if the peer disconnects. this should not
# be considered a failure.
SuccessExitStatus=1
