# This unit reads the video stream produced by the camera-raw@.service unit
# and packages it as an mpegts stream.

[Service]
User=pi
Environment=FFMPEG_LOGLEVEL=warning
Environment=FFMPEG_FRAMERATE=20
EnvironmentFile=-/etc/camera/config.ffmpeg
ExecStart=/usr/bin/ffmpeg -loglevel $FFMPEG_LOGLEVEL -f h264 -r $FFMPEG_FRAMERATE -i tcp://localhost:8000 -c copy -f mpegts -
StandardInput=null
StandardOutput=socket
StandardError=journal

# ffmpeg exits with an error code if the peer disconnects. this should not
# be considered a failure.
SuccessExitStatus=1
