[Unit]
Description=Live video stream

[Service]
User=pi
WorkingDirectory=/home/pi
EnvironmentFile=-/home/pi/livestream.conf
ExecStart=/usr/local/bin/livestream
Restart=on-failure

[Install]
WantedBy=multi-user.target
