[Unit]
Description=Live video stream

[Service]
User=pi
WorkingDirectory=/home/pi
EnvironmentFile=-/etc/camera/config.livestream
ExecStart=/usr/local/bin/livestream
Restart=on-failure

[Install]
WantedBy=multi-user.target
